{% extends 'mdybase.html' %}

{% block content %}

<br>
{% if error %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{error}}</h1>
    </div>
</div>

{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{result}}</h1>

    </div>
{% endif %}

<br>
<div>   <form class="layui-form" method="post" action="{% url 'bgsig' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="data" required autocomplete="off" class="layui-input">
            <input type="submit" value="提交">
        </form>
</div>


{% endblock %}