{% extends 'mdybase.html' %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">猫第一的工作台</h1>
  <p class="lead">这只猫总是第一时间察觉到主人回家的脚步声，第一个跑到门口等待主人开门，由此得名“猫第一”.</p>
  <hr class="my-4">
  <p>这个网站用来展示日记、笔记和测试</p>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm">
            <h1> 首页 </h1>
            <br>
                <img src="/media/cat2.jpg" alt="猫第一的真容" width="1080" height="810" border="0">
            <br>
                <img src="/media/ball.jpg" alt="足球训练" width="1080" height="1400" border="0">
        </div>

    </div>
</div>

{% endblock %}

